@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcf8f9; /* Ultra soft baby pink background */
  color: #1f2937;
}

/* Hide scrollbars for the Swiggy-style horizontal scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}